.SearchBox
{
    background-color: transparent;
    border-color: white;
    height: 50px;
    width: 300px;
    outline: none;
    font-size: 20px;
    color: white;
    padding-left: 50px;
}

.SearchBox::placeholder{
    color:white;
    font-family: 'Roboto', sans-serif;
}