.button {
  padding: 13px 65px;
  background-color: #FFFFFF;
  border: 1px solid #3D3BBC;
	cursor: pointer;

  font-family: 'Roboto', sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #3D3BBC;
  text-align: center;
}